#root {
  --body-bg: #a3a2a0;
  --form-bg: rgba(19, 35, 47, 0.9);
  --white: #ffffff;
  --main: #1ab188;
  --main-light: lighten(#1ab188, 5%);
  --main-dark: darken(#1ab188, 50%);
  --gray-light: #a0b3b0;
  --gray: #ddd;
  --thin: 300;
  --normal: 400;
  --bold: 600;
}

body {
  background: var(--body-bg);
  font-family: "Titillium Web", sans-serif;
  color: var(--white);

  width: 100%;
}
.form {
  margin: 10rem auto;
  max-width: 600px;
  padding: 40px;
  background: var(--form-bg);
  border-radius: 0.25em;
  box-shadow: 0 0.5rem 3rem 0 rgba(0, 0, 0, 0.2);
}
.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  margin: 30px auto;

  font-family: "Titillium Web", sans-serif;
  font-weight: var(--normal);
  color: var(--white);
}
.tab {
  max-width: 50%;
  margin-right: 0;
  font-size: 1.625rem;
  width: 50%;
  height: 100%;
  line-height: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray);
  background-color: var(--gray-light);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.Light {
  font-family: "Titillium Web", sans-serif;
  background-color: #1ab188;
  color: var(--white);
}
.Form-control {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
h2 {
  color: var(--white);
  font-size: 1.8rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: var(--normal);
  margin-bottom: 1.5em;
}
input {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid var(--gray);
  background-color: transparent;
  font-size: 1.2rem;
  font-family: "Titillium Web", sans-serif;
  color: var(--gray-light);
  padding: 0.5em;
  z-index: 2;
}
label {
  position: absolute;
  top: 0.7em;
  left: 0.4em;
  transition: all 0.3s ease-in-out;
  z-index: 1;

  .req {
    margin: 2px;
    color: var(--main);
  }
}
.field {
  width: 100%;
  position: relative;
  color: var(--gray-light);
  font-size: 1.5rem;
  margin: 1em;
}
.label-back {
  position: absolute;
  transform: translate(-0.5em, -2.5em);
  font-size: 0.9rem;
}
.link {
  position: absolute;
  bottom: 6rem;
  right: 0rem;
  text-decoration: none;

  color: var(--main);
  font-size: 0.9rem;
  transition: all 0.3s ease-in-out;
}
.btn {
  width: 100%;
  border: none;

  background-color: var(--main);
  font-size: 2rem;
  font-weight: var(--bold);
  font-family: "Titillium Web", sans-serif;
  color: var(--white);
  padding: 0.5em;
  margin-top: 1.2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #088b68;
}
.signup {
  margin-top: 0.5em;
}
.small-field {
  width: 11.5em;
  display: inline-block;
  position: relative;
}
.ss {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
